@import "../../../globalStyles/scss/variables.scss";

.breadcrumbs {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 5px 0;
  margin-top: 0;

  li:nth-last-child(-n + 2) {
    display: inline-block;
  }

  

  li {
    &:not(:last-of-type) {
      &:after {
        content: url("../../../images/breadcrumbs-arrow.svg");
        display: inline-block;
        margin: 0 $spacer / 2;
      }
    }

    @media (max-width: 768px) {
      display: none;
    }

    a {
      color: #5c6777;
      text-decoration: none;
      vertical-align: middle;
      transition: 0.3s;
      font-size: 15px;

      &:hover,
      &:focus {
        color: $blue;
      }
    }
  }

  &__active {
    a {
      color: #000 !important;
      font-weight: 500;

      &:hover {
        color: $base-font-color;
      }
    }
  }
}
