.galleryControls {
  position: relative;
  display: flex;
  justify-content: center;
  top: -28px;

  @media (min-width: 992px) {
    display: none;
  }

  button {
    border-radius: 50%;
    width: 46px;
    height: 46px;
    background: #000;
    opacity: 0.8;
    
    margin: 0 19px;

    svg{
      color: white;
    }
  }

  .arrowLeft {
    transform: rotate(90deg);
  }
  .arrowRight {
    transform: rotate(-90deg);
  }
}
